body {
  display: flex;
  height: 100vh;
  width: 100vh;
}

a {
  position: relative;
  display: flex;
  gap: 4px;
  height: 40px;
  align-items: center;
  margin: auto;
  border-radius: 20px;
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif;
  transition: color 0.3s ease;
  padding-right: 20px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: black;
    border-radius: 20px;
    height: 100%;
    width: 0%;
    min-width: 40px;
    transition: width 0.3s ease;
  }
}

.iconContainer {
  width: 40px;
  position: relative;
  margin-left: 12px;
}

.icon {
  position: absolute;
  height: 8px;
  width: 8px;
  left: 8px;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);

  transition: width 0.3s, left 0.3s, transform 0.3s;

  // tail
  &::before {
    content: "";
    position: absolute;
    display: block;
    height: 2px;
    width: 16px;
    top: 50%;
    right: 0%;
    transform: translate(0, -50%);
    background-color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  // pointer
  &::after {
    content: "";
    position: absolute;
    display: block;
    height: 8px;
    width: 8px;
    top: 50%;
    right: 0;
    border-top: 2px solid white;
    border-right: 2px solid white;
    transform: translate(0, -50%) rotate(45deg);
  }
}

a:hover {
  color: white;
  &::before {
    width: 100%;
  }

  .icon {
    width: 16px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    &::before {
      opacity: 1;
    }
  }
}

span {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
}
